div.navbar-wrapper { 
    position: fixed; 
    top: 0; 
    left: 0;
    margin-top: 0;
    width: 100%;
    opacity: 0.8;
    background-color: : #fff;
}
."navbar-collapse collapse" {
	background-color: yellow;

}
h2 {
	font-size: 18px;
}
.main-search {
	float: right;
	margin-top: 12px;
	padding-right: 5px;
}
#andre {
	position: fixed;
	left: 30px;
	top: 40px;
	z-index: 10;
	height: 120px;
}
.carousel-inner {
	height: 500px;

}
.carousel-indicators{
	bottom: 5px;
}
#titlename {
	position: absolute;
	margin-top: 180px;
	margin-left: 16px;
	text-align: left;
	padding-top: 10;
	float: left;
	z-index: 1;
	color: white;
}
#summaryDescription {
	margin-left: 135px;
	margin-right: 135px;
}
#myCarousel.carousel.slide {

	margin-bottom: 5px; 
}
#topParagraph {
		margin-top: 170px;
}
.jobTitle, .companyName {
	font-weight: bolder;

}
.jobTitle {
	color: blue;
	
}

.dates {
	float:right;

}